# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.idea/
*.iml

# Virtual environment
venv/
.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
